name: Array API tests (long)

on:
  schedule:
    - cron: "0 1 * * *" # Runs daily at 01:00 UTC each day
  pull_request:
    paths:
      - ".github/workflows/array-api-daily.yml"

# Automatically stop old builds on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # TODO: Allow triggering this job via a comment in a PR
  scheduled-array-api-tests:
    name: Array API test
    timeout-minutes: 360
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        environment:
          - min-onnxruntime
          - default
    steps:
      - name: Checkout branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@19eac09b398e3d0c747adc7921926a6d802df4da
        with:
          environments: ${{ matrix.environment }}
      - name: Install repository
        run: pixi run -e ${{ matrix.environment }} postinstall
      - name: Run Array API tests (Scheduled)
        run: pixi run -e ${{ matrix.environment }} arrayapitests --max-examples 1000 --hypothesis-seed=""
      - name: Upload Array API tests report
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: array-api-tests-${{ matrix.os }}
          path: array-api-tests-${{ matrix.os }}.json
      - name: Issue on failure
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        if: ${{ failure() && github.event_name == 'schedule' && github.ref == 'refs/heads/main' }}
        with:
          script: |
            github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              labels: "[bot] Daily run"
            }).then((issues) => {
              if (issues.data.length === 0){
                github.rest.issues.create({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  title: "Daily run failure: Array API coverage",
                  body: "The daily run of the Array API test suite failed. See https://github.com/Quantco/ndonnx/actions/runs/${{ github.run_id }} for details.",
                  assignees: ["adityagoel4512", "cbourjau"],
                  labels: ["[bot] Daily run"]
                })
              }
            });
