name: Array API tests

on:
  # We would like to trigger for CI for any pull request action -
  # both from QuantCo's branches as well as forks.
  pull_request:
  # In addition to pull requests, we want to run CI for pushes
  # to the main branch and tags.
  push:
    branches:
      - "*"
    tags:
      - "*"

# Automatically stop old builds on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  array-api-tests:
    name: Array API test
    timeout-minutes: 60
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Different platforms are faster than others. We try to keep
          # the CI snappy at <= 2min.
          - os: ubuntu-latest
            max_examples_ci: 50
          - os: macos-latest
            max_examples_ci: 100
          - os: windows-latest
            max_examples_ci: 30
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
      - name: Install repository
        run: pixi run postinstall
      - name: Run Array API tests (PR and main branch)
        run: pixi run arrayapitests --max-examples ${{ matrix.max_examples_ci }}
      - name: Upload Array API tests report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: array-api-tests-${{ matrix.os }}
          path: array-api-tests-${{ matrix.os }}.json
