name: Array API tests (long)

on:
  schedule:
    - cron: "0 1 * * *" # Runs daily at 01:00 UTC each day
  pull_request:
    paths:
      - ".github/workflows/array-api-daily.yml"

# Automatically stop old builds on the same branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # TODO: Allow triggering this job via a comment in a PR
  scheduled-array-api-tests:
    name: Array API test
    timeout-minutes: 360
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        environment:
          - min-onnxruntime
          - default
    steps:
      - name: Checkout branch
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          submodules: recursive
      - name: Set up pixi
        uses: prefix-dev/setup-pixi@82d477f15f3a381dbcc8adc1206ce643fe110fb7
        with:
          environments: ${{ matrix.environment }}
      - name: Install repository
        run: pixi run -e ${{ matrix.environment }} postinstall
      - name: Run Array API tests (Scheduled)
        run: pixi run -e ${{ matrix.environment }} arrayapitests --max-examples 1000 --hypothesis-seed=""
      - name: Upload Array API tests report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: array-api-tests-${{ matrix.os }}
          path: array-api-tests-${{ matrix.os }}.json
      - name: Issue on failure
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        if: ${{ failure() && github.event_name == 'schedule' && github.ref == 'refs/heads/main' }}
        with:
          script: |
            github.rest.issues.listForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo,
              state: "open",
              labels: "[bot] Daily run"
            }).then((issues) => {
              if (issues.data.length === 0){
                github.rest.issues.create({
                  owner: context.repo.owner,
                  repo: context.repo.repo,
                  title: "Daily run failure: Array API coverage",
                  body: "The daily run of the Array API test suite failed. See https://github.com/Quantco/ndonnx/actions/runs/${{ github.run_id }} for details.",
                  assignees: ["adityagoel4512", "cbourjau"],
                  labels: ["[bot] Daily run"]
                })
              }
            });
